* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

header {
    height: 13rem;
    background-color: #2D3F52;
    padding-top: 3rem;
}
.header-div {
    border-top: 3px solid #60a998;
    width: 70%;
    margin: auto;
}

h1 {
    
    padding-top: 1.5rem;
    text-transform: uppercase;
    line-height: 30px;
    color: #60a998;
}

.header-div p {
    text-align: right;
    padding-top: 3rem;
    color: rgb(173, 173, 173);
    font-size: 14px;
}

nav ul{
    text-align: right;
    width: 70%;
    margin: auto;
    padding-top: 1.5rem;
}

nav li {
    display: inline-block;
    text-align: right;
    padding-left: 0.5rem;
    text-transform: uppercase;
    font-size: 14px;
    color: #60a998;
}

a {
    text-decoration: none;
    color: inherit;
}

.schedule-header {
    height: 7rem;
    background: linear-gradient(90deg, rgba(148,220,174,1) 0%, rgba(241,244,206,1) 61%);
}

.schedule-div {
    width: 70%;
    margin: auto;
    padding-top: 2rem;
    color: rgb(105, 105, 105);
}

.schedule-div h3 {
    padding-bottom: 1rem;
}

.schedule-div p {
    font-size: 12px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 3rem auto;
    font-size: 12px;
    color: rgb(114, 114, 114);
    
}

td {
    padding: 1rem 1rem 1rem 0;
    border-collapse: collapse;
}

.first-column {
    text-align: right;
}

.inner-border {
    
    border-bottom: 1px solid rgb(173, 173, 173);
}

h4 {
    padding-bottom: 0.5rem;
}

.reg-page {
    width: 70%;
    margin: 3rem auto;
    display: flex;
    color: rgb(105, 105, 105);
}

.reg-page p {
    font-size: 0.8rem;
    padding: 1rem 0;

}

.reg-left {
    width: 58%;
}

.reg-left li {
    margin-left: 2rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    list-style-type: square;
}

.reg-right {
    width: 40%;
    padding-left: 2rem;
}

.reg-right label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    
}

.reg-right input, textarea{
    width: 100%;
    border: 1px solid #60a998;
    border-radius: 3px;
    font-size: 0.7rem;
    padding: 0.3rem;
}

.reg-right select {
    background-color: rgb(255, 255, 255);
    border: 1px solid #60a998;
    border-radius: 3px;
    font-size: 0.7rem;
    padding: 0.3rem;
    color: rgb(105, 105, 105);
}

.form-group {
    margin-bottom: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: rgb(48, 84, 48);
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 212);
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 0.7rem;
}